html {
  font-size: 10px; /*px表示像素*/
  font-family: "ZCOOL KuaiLe", sans-serif; /*font-family表示为文本设置的字体*/
  background-color: #00539f;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px; /*强制body元素的所有内容宽度永远保持600像素的宽度*/
  /*margin表示body具体文字内容外围的边框，到浏览器界面边缘之间的距离*/
  margin: 0 auto; /*在margin（外边距）和padding（内边距）属性上设置两个值的时候，第一个值影响元素的上下方向，第二个值影响左右方向*/
  /*其中这里第二个值设置为auto，表示把水平空间平均分配给左边和右边*/
  /*一般来说margin和padding可以根据情况设置1~4个值，只设置1个时表示上下左右的距离都是这个值，2个则前者表示上下都用第一个值的距离，左右都用第二个值的距离，3个则从左到右影响上，左右，下，4个则是上下左右*/
  background-color: #ff9500;
  /*内边距表示body里的所有在边框里的正文内容与边框之间的距离*/
  padding: 0 20px 20px 20px;
  border: 5px solid black; /*边框的数值*/
}

img {
  display: block;
  margin: 0 auto;
} /*body和h1是块级元素，本来就享有边距等内容，但是图片是行级元素，本身不具有块级元素的边距等，但是可以通过display: block赋予其块级行为使得它拥有边距*/

.sp-id {
  color: purple;
} /*类选择器*/

#you {
  color: aqua;
} /*id选择器*/
